<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <display-name>Policy Viewer</display-name>
  <servlet>
    <servlet-name>PolicyController</servlet-name>
    <servlet-class>com.morello.training.security.web.PolicyController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiagnoseHTTP</servlet-name>
    <servlet-class>com.morello.training.security.view.DiagnoseHTTP</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.morello.training.security.view.ErrorHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.morello.training.security.web.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PolicyViewer</servlet-name>
    <servlet-class>com.morello.training.security.view.PolicyViewer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailUpdateController</servlet-name>
    <servlet-class>com.morello.training.security.web.EmailUpdateController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailQueryController</servlet-name>
    <servlet-class>com.morello.training.security.web.EmailQueryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdateController</servlet-name>
    <servlet-class>com.morello.training.security.web.UserUpdateController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserQueryController</servlet-name>
    <servlet-class>com.morello.training.security.web.UserQueryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PwdUpdateController</servlet-name>
    <servlet-class>com.morello.training.security.web.PwdUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PolicyViewer</servlet-name>
    <url-pattern>/PolicyViewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PolicyController</servlet-name>
    <url-pattern>/PolicyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiagnoseHTTP</servlet-name>
    <url-pattern>/DiagnoseHTTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailUpdateController</servlet-name>
    <url-pattern>/EmailUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailQueryController</servlet-name>
    <url-pattern>/EmailQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateController</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserQueryController</servlet-name>
    <url-pattern>/UserQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PwdUpdateController</servlet-name>
    <url-pattern>/PwdUpdate</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>